html, body {
    scroll-behavior: smooth !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* navbar when scrolling */
#nav-on-scroll {
    display: none;
}


/* top content of the page */
#top-bar {
    background-color: rgb(43, 181, 128);
    height: 1.6rem;
    width: 100%;
    flex-shrink: 0;
}
#main-top {
    margin-top: 5rem;
    background-color: none;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#top-content {
    background-color: none;
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 67%;
}
#top-content-nav {
    align-items: center;
    display: flex;
    font-size: 1.7rem;
}
#ds-logo {
    border-style: solid;
    border-color: black;
    border-width: .25rem;
    border-radius: .5rem;
    padding: .5rem;
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}
.top-content-nav-links {
    margin: 0rem 1rem;
    text-decoration: none;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: .3rem;
}
#ds-logo:hover {
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.1), 0 .4rem 1.25rem 0 rgba(0, 0, 0, 0.1);
}
.top-content-nav-links:hover {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1), 0 .4rem 1.25rem rgba(0, 0, 0, 0.1);
}
#top-content-nav span {
    margin-left: auto;
    border-style: solid;
    border-width: .25rem;
    border-radius: .5rem;
    border-color: rgb(17, 24, 39);
    padding: .5rem;
    color: rgb(17, 24, 39)ck;
}
#top-content-nav span:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(17, 24, 39);
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2), 0 .4rem 1.25rem 0 rgba(0, 0, 0, 0.2);
}
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 2rem;
}
#profile-picture-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
}
#profile-picture {
    border-style: solid;
    border-width: .45rem;
    border-color: rgb(17, 24, 39);
    color: rgb(17, 24, 39);
    border-radius: 50%;
    min-width: 22rem;
    max-width: 22rem;
}
#profile-picture:hover {
    cursor: pointer;
    border-style: solid;
    border-width: .45rem;
    border-color: rgb(43, 181, 128);
    border-radius: 50%;
}
#intro-text {
    justify-content: center;
    display: flex;
    color: rgb(17, 24, 39);
    font-size: 2.5rem;
    margin: 2.5rem;
}
#intro-text span {
    color: rgb(43, 181, 128);
}


/* feature content */
#featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 24, 39);
    width: 100%;
    height: 100%;
}
#featured-content {
    margin: 5rem;
}
#featured-header {
    color: white;
    text-align: center;
    font-size: 4rem;
    width: 100%;
}
#featured-picture-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
}
#featured-picture {
    border-radius: .5rem;
    width: 55rem;
    transition: width .3s;
}


/* projects content */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
}
#projects-content {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    height: 100%;
}
#projects-header {
    color: rgb(17, 24, 39);
    text-align: center;
    font-size: 4rem;
    width: 100%;
}
#projects-container {
    display: inline-block;
}

#flip-card-1 {
    display: inline-grid;
    margin: 2.5rem .8rem;
    width: 19rem;
    height: 19rem;
    perspective: 125rem;
}
#flip-card-1-front {
    background-color: rgb(17, 24, 39);
    border-radius: .8rem;
}
#flip-card-1-back {
    background-color: red;
    transform: rotateY(180deg);
    border-radius: .8rem;
}

#flip-card-2 {
    display: inline-grid;
    margin: 2.5rem .8rem;
    width: 19rem;
    height: 19rem;
    perspective: 125rem;
}
#flip-card-2-front {
    background-color: rgb(17, 24, 39);
    border-radius: .8rem;
}
#flip-card-2-back {
    background-color: green;
    transform: rotateY(180deg);
    border-radius: .8rem;
}

#flip-card-3 {
    display: inline-grid;
    margin: 2.5rem .8rem;
    width: 19rem;
    height: 19rem;
    perspective: 125rem;
}
#flip-card-3-front {
    background-color: rgb(17, 24, 39);
    border-radius: .8rem;
}
#flip-card-3-back {
    background-color: blue;
    transform: rotateY(180deg);
    border-radius: .8rem;
}


/* about me content */
#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 24, 39);
    width: 100%;
}
#about-me-content {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    height: 100%;
}
#about-me-header {
    color: white;
    text-align: center;
    font-size: 4rem;
    width: 100%;
}
#about-me-container p {
    color: white;
    font-size: 2rem;
}


/* extras content */
#extras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
}
#extras-content {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    height: 100%;
}
#extras-header {
    color: rgb(17, 24, 39);
    text-align: center;
    font-size: 4rem;
    width: 100%;
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4rem;
    background-color: rgb(196, 196, 196);
}
footer p {
    display: flex;
    justify-content: center;
    color: rgb(17, 24, 39);
    font-size: 1.3rem;
}


/* media queries */
@media only screen and (max-width: 1200px) {
    #main-top {
        margin-top: 2rem;
    }
    #top-content {
        width: 80%;
    }
    #top-content-nav {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 1000px) {
    #top-content {
        width: 90%;
    }
    #top-content-nav {
        font-size: 1.25rem;
    }
    #featured-picture {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    #top-content-nav {
        display: none;
    }
    #profile-picture {
        min-width: 0;
    }
    #intro-text {
        font-size: 1.9rem;
    }
    #featured-header {
        font-size: 2.5rem;
    }
    #projects-header {
        font-size: 2.5rem;
    }
    #about-me-header {
        font-size: 2.5rem;
    }
    #extras-header {
        font-size: 2.5rem;
    }
}


/* utility classes */
.extra-bold {
    font-weight: 800;
}
.box-shadow {
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.1), 0 .4rem 1.25rem 0 rgba(0, 0, 0, 0.1);
}
.smooth-text-transition {
    transition: font-size 0.3s ease;
}


/* flip card utility classes */
.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform .5s;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.1), 0 .4rem 1.25rem 0 rgba(0, 0, 0, 0.1);
    border-radius: .8rem;
}
.flip-card.is-flipped {
    transform: rotateY(180deg);
}
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}